/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  -webkit-text-decoration: white;
          text-decoration: white;
  color: inherit;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-size: 2rem;
  -webkit-box-shadow: 0 1px 5px 1px #b3b3b3;
          box-shadow: 0 1px 5px 1px #b3b3b3;
  padding: 0.5rem;
  position: relative;
}

body {
  font-family: "Roboto";
}

.city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  background-color: #e6e6e6;
  text-align: center;
  padding: 1rem;
}

.city h2 {
  font-weight: 400;
}

.city i {
  font-size: 1.2rem;
}

.explorer {
  background-color: #f3f3f3;
  text-align: center;
  padding: 2rem;
}

.explorer h2 {
  font-size: 2rem;
}

.explorer p {
  margin-top: 1rem;
  font-weight: 300;
}

.explorer button {
  margin-top: 1rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  color: white;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  -webkit-transition: 200ms;
  transition: 200ms;
  -webkit-box-shadow: 2px 1px 8px -2px black;
          box-shadow: 2px 1px 8px -2px black;
}

.explorer button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  opacity: 0.9;
}

.steps {
  counter-reset: count;
  padding: 2rem;
}

.steps ol {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

@media (max-width: 930px) {
  .steps ol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.steps li {
  background-color: #f3f3f3;
  padding: 1.5rem 2rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 1rem;
  -webkit-box-shadow: 2px 1px 8px -2px black;
          box-shadow: 2px 1px 8px -2px black;
  position: relative;
  list-style-type: none;
}

.steps li i {
  margin-right: 1rem;
  font-size: 1.3rem;
  color: grey;
}

.steps li:hover {
  background-color: #f2eafb;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.steps li:hover i {
  color: #9356dc;
}

.steps li::before {
  content: counter(count);
  counter-increment: count;
  color: white;
  background-color: #9356dc;
  width: 2rem;
  height: 2rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  left: -1rem;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.menus {
  background-color: #f3f3f3;
  padding: 0 6rem 4rem;
}

@media (max-width: 1000px) {
  .menus {
    padding: 0 1rem 2rem;
  }
}

.menus h2 {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.menus__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

@media (max-width: 1000px) {
  .menus__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.card {
  -webkit-box-shadow: 2px 1px 8px -2px black;
          box-shadow: 2px 1px 8px -2px black;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 1rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
}

@media (min-width: 1000px) {
  .card {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    max-width: 47%;
    max-height: 20%;
    min-width: 400px;
  }
}

.card__image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 200px;
}

.card__description {
  padding: 0.5rem;
  position: relative;
}

.card__description h3 {
  padding: 0.5rem;
}

.card__description span {
  padding: 0.5rem;
  display: block;
  font-weight: 400;
}

.card__description i {
  font-size: 2rem;
  position: absolute;
  right: 1.4rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.card__description .fas {
  color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.card__description:hover .fas {
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1.1);
          transform: translateY(-50%) scale(1.1);
}

.card__description:hover .far {
  opacity: 0;
}

.card--new {
  position: relative;
}

.card--new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
  color: #217460;
  display: -ms-grid;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
  border-radius: 3px;
}

footer {
  background-color: #353535;
  padding: 2rem;
  color: white;
}

footer h2 {
  font-family: "Shrikhand";
  font-weight: 500;
  padding: 1rem 0;
}

footer p {
  padding: 0.5rem;
}

footer i {
  margin-right: 10px;
  width: 20px;
}

.banner img {
  display: block;
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (min-width: 1000px) {
  .banner img {
    height: 50vh;
  }
}

.tittle {
  background-color: #f3f3f3;
  margin-top: -2rem;
  position: relative;
  border-radius: 2rem 2rem 0 0;
}

.tittle i {
  font-size: 2rem;
  position: absolute;
  right: 1.4rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.tittle .fas {
  color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.tittle:hover .fas {
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1.1);
          transform: translateY(-50%) scale(1.1);
}

.tittle:hover .far {
  opacity: 0;
}

.tittle h2 {
  padding: 1.5rem 1rem;
  font-family: "Shrikhand";
}

.main-page {
  padding: 1rem;
  background-color: #f3f3f3;
}

.menu-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media (max-width: 1000px) {
  .menu-page {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.menu-page__selection {
  overflow: hidden;
  white-space: nowrap;
}

.menu-page__selection h3 {
  text-transform: uppercase;
  font-weight: 400;
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 1rem;
}

.menu-item__description {
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-item__description h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-item__price {
  padding: 0.5rem;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: auto;
}

.menu-item__check {
  color: #99e2d0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #99e2d0;
  margin-right: -4rem;
  width: 4rem;
  border-radius: 0 1rem 1rem 0;
  -webkit-transition: margin-right 0.5s;
  transition: margin-right 0.5s;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menu-item__check i {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.menu-item:hover {
  cursor: pointer;
}

.menu-item:hover .menu-item__check {
  margin-right: 0;
}

.menu-item:hover .menu-item__check i {
  -webkit-animation: check-spin 0.5s ease-in-out;
          animation: check-spin 0.5s ease-in-out;
}

@-webkit-keyframes check-spin {
  from {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes check-spin {
  from {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
