/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  -webkit-text-decoration: white;
          text-decoration: white;
  color: inherit;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-size: 1.5rem;
  -webkit-box-shadow: 0 1px 5px 1px #b3b3b3;
          box-shadow: 0 1px 5px 1px #b3b3b3;
  padding: 0.5rem;
  position: relative;
}

footer {
  background-color: #353535;
  padding: 0 2rem 2rem 2rem;
  color: white;
}

footer h2 {
  font-family: "Shrikhand";
  font-weight: 500;
  padding: 2rem 1rem;
}

footer p {
  padding: 1rem;
  margin-right: auto;
}

footer p i {
  margin-right: 10px;
}

.footer__link a {
  display: block;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

@media (min-width: 1300px) {
  .footer__link {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }
}

body {
  font-family: "Roboto";
  height: 100%;
}

.loader {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #f3f3f3;
  position: fixed;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.8;
  width: 100%;
  -webkit-animation: loader forwards;
          animation: loader forwards;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes loader {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.8;
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes loader {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.8;
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.loader .fas {
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(#9356dc, #ff79da);
  color: transparent;
  -webkit-background-clip: text;
  position: absolute;
  font-size: 9rem;
  -webkit-animation: beating-heart 1s both;
          animation: beating-heart 1s both;
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
}

@media (max-width: 435px) {
  .loader .fas {
    font-size: 7rem;
  }
}

@-webkit-keyframes beating-heart {
  0% {
    -webkit-transform: translateY(-70%) scale(0.95);
            transform: translateY(-70%) scale(0.95);
  }
  5% {
    -webkit-transform: translateY(-70%) scale(1.1);
            transform: translateY(-70%) scale(1.1);
  }
  39% {
    -webkit-transform: translateY(-70%) scale(0.85);
            transform: translateY(-70%) scale(0.85);
  }
  45% {
    -webkit-transform: translateY(-70%) scale(1);
            transform: translateY(-70%) scale(1);
  }
  60% {
    -webkit-transform: translateY(-70%) scale(0.95);
            transform: translateY(-70%) scale(0.95);
  }
  100% {
    -webkit-transform: translateY(-70%) scale(0.9);
            transform: translateY(-70%) scale(0.9);
  }
}

@keyframes beating-heart {
  0% {
    -webkit-transform: translateY(-70%) scale(0.95);
            transform: translateY(-70%) scale(0.95);
  }
  5% {
    -webkit-transform: translateY(-70%) scale(1.1);
            transform: translateY(-70%) scale(1.1);
  }
  39% {
    -webkit-transform: translateY(-70%) scale(0.85);
            transform: translateY(-70%) scale(0.85);
  }
  45% {
    -webkit-transform: translateY(-70%) scale(1);
            transform: translateY(-70%) scale(1);
  }
  60% {
    -webkit-transform: translateY(-70%) scale(0.95);
            transform: translateY(-70%) scale(0.95);
  }
  100% {
    -webkit-transform: translateY(-70%) scale(0.9);
            transform: translateY(-70%) scale(0.9);
  }
}

.city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  background-color: #e6e6e6;
  text-align: center;
  padding: 1rem;
}

.city h2 {
  font-weight: 400;
}

.city i {
  font-size: 1.2rem;
}

.explorer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f3f3f3;
  text-align: center;
  padding: 2rem;
}

.explorer h2 {
  font-size: 2rem;
}

.explorer p {
  margin-top: 1rem;
  font-weight: 300;
}

.explorer .button {
  margin: auto;
  margin-top: 2rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  color: white;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  -webkit-transition: 200ms;
  transition: 200ms;
  -webkit-box-shadow: 2px 1px 8px -2px grey;
          box-shadow: 2px 1px 8px -2px grey;
  width: 20rem;
  text-align: center;
}

.explorer .button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  opacity: 0.9;
  cursor: pointer;
}

.steps {
  counter-reset: count;
  padding: 2rem;
}

.steps ol {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

@media (max-width: 930px) {
  .steps ol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.steps li {
  background-color: #f3f3f3;
  padding: 1.5rem 2rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 1rem;
  -webkit-box-shadow: 2px 1px 8px -2px grey;
          box-shadow: 2px 1px 8px -2px grey;
  position: relative;
  list-style-type: none;
}

.steps li i {
  margin-right: 1rem;
  font-size: 1.3rem;
  color: grey;
}

.steps li:hover {
  background-color: #f2eafb;
}

.steps li:hover i {
  color: #9356dc;
}

.steps li::before {
  content: counter(count);
  counter-increment: count;
  color: white;
  background-color: #9356dc;
  width: 2rem;
  height: 2rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  left: -1rem;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.menus {
  background-color: #f3f3f3;
  padding: 0 6rem 4rem;
}

@media (max-width: 1000px) {
  .menus {
    padding: 0 1rem 2rem;
  }
}

.menus h2 {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.menus__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  width: 100%;
}

@media (max-width: 1000px) {
  .menus__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.card {
  position: relative;
  -webkit-box-shadow: 2px 1px 8px -2px grey;
          box-shadow: 2px 1px 8px -2px grey;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 1rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
  -webkit-transition: 200ms;
  transition: 200ms;
}

@media (min-width: 1000px) {
  .card {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    max-width: 47%;
    width: 30rem;
  }
}

.card__image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 200px;
}

.card__description {
  padding: 0.5rem;
  position: relative;
}

.card__description h3 {
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.card__description span {
  padding: 0 0.5rem 0.5rem 0.5rem;
  display: block;
  font-weight: 400;
}

.card__description i {
  font-size: 2rem;
  position: absolute;
  right: 1.4rem;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: pointer;
}

.card__description .fas {
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.card__description .fas {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.card__description .fas:hover {
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1.1);
          transform: translateY(-50%) scale(1.1);
  -webkit-animation: heartgrow 200ms forwards;
          animation: heartgrow 200ms forwards;
}

@-webkit-keyframes heartgrow {
  0% {
    scale: 0;
    -webkit-transform: translateY(-45%);
            transform: translateY(-45%);
  }
  to {
    scale: 1;
  }
}

@keyframes heartgrow {
  0% {
    scale: 0;
    -webkit-transform: translateY(-45%);
            transform: translateY(-45%);
  }
  to {
    scale: 1;
  }
}

.card--new {
  position: relative;
}

.card--new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
  color: #217460;
  display: -ms-grid;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
  border-radius: 3px;
}

@media (min-width: 1600px) {
  .menus {
    margin: 5rem 10rem 5rem 10rem;
    border-radius: 2rem;
  }
}

@media (min-width: 2000px) {
  .menus {
    margin: 5rem 20rem 5rem 20rem;
    border-radius: 2rem;
  }
}

@media (min-width: 1000px) {
  .menus h2 {
    padding: 2rem 1rem 2rem 1rem;
  }
}

@media (min-width: 1600px) {
  .steps {
    padding: 3rem 0rem 3rem 0rem;
    margin-right: 10rem;
    margin-left: 10rem;
  }
}

@media (min-width: 2000px) {
  .steps {
    margin-right: 20rem;
    margin-left: 20rem;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

nav .arrow {
  position: absolute;
  left: 3%;
  -webkit-transition: 300ms;
  transition: 300ms;
}

nav .arrow:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.banner img {
  display: block;
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (min-width: 1000px) {
  .banner img {
    height: 50vh;
  }
}

.tittle {
  background-color: #f3f3f3;
  margin-top: -2rem;
  position: relative;
  border-radius: 2rem 2rem 0 0;
}

.tittle i {
  font-size: 2rem;
  position: absolute;
  right: 1.4rem;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: pointer;
}

.tittle .fas {
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.tittle .fas {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.tittle .fas:hover {
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1.1);
          transform: translateY(-50%) scale(1.1);
  -webkit-animation: heartgrow 200ms forwards;
          animation: heartgrow 200ms forwards;
}

@keyframes heartgrow {
  0% {
    scale: 0;
    -webkit-transform: translateY(-45%);
            transform: translateY(-45%);
  }
  to {
    scale: 1;
  }
}

.tittle h2 {
  padding: 1.5rem 1rem;
  font-family: "Shrikhand";
}

.main-page {
  background-color: #f3f3f3;
}

.menu-page {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-columns: repeat(3, 1fr);
}

@media (max-width: 1000px) {
  .menu-page {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.menu-page__selection {
  padding: 1rem;
  overflow: hidden;
  -webkit-animation: appear 1s;
          animation: appear 1s;
}

@-webkit-keyframes appear {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu-page__selection:nth-child(1) {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu-page__selection:nth-child(2) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu-page__selection:nth-child(3) {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu-page__selection:nth-child(4) {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu-page__selection:nth-child(5) {
  -webkit-animation-delay: 1250ms;
          animation-delay: 1250ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu-page__selection h3 {
  padding: 1rem 0rem;
  text-transform: uppercase;
  font-weight: 300;
}

.menu-page__selection h3::after {
  content: "";
  display: block;
  border-bottom: 3px solid #99e2d0;
  width: 2.9rem;
}

@media (min-width: 1000px) {
  .menu-page__selection h3 {
    font-weight: 400;
  }
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1rem;
  -webkit-box-shadow: 2px 1px 8px -2px grey;
          box-shadow: 2px 1px 8px -2px grey;
  -webkit-animation: appear 1s;
          animation: appear 1s;
}

@keyframes appear {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu-item:nth-child(1) {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu-item:nth-child(2) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu-item:nth-child(3) {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu-item:nth-child(4) {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu-item:nth-child(5) {
  -webkit-animation-delay: 1250ms;
          animation-delay: 1250ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu-item__description {
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-item__description h4,
.menu-item__description p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-item__price {
  padding: 1rem;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: auto;
}

.menu-item__check {
  color: #99e2d0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #99e2d0;
  margin-right: -4rem;
  width: 4rem;
  border-radius: 0 1rem 1rem 0;
  -webkit-transition: margin-right 0.5s;
  transition: margin-right 0.5s;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menu-item__check i {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.menu-item:hover {
  cursor: pointer;
}

.menu-item:hover .menu-item__check {
  margin-right: 0;
}

.menu-item:hover i {
  -webkit-animation: check-spin 0.5s ease-in-out;
          animation: check-spin 0.5s ease-in-out;
}

@-webkit-keyframes check-spin {
  from {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes check-spin {
  from {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.order {
  padding-bottom: 2rem;
  background-color: #f3f3f3;
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 15vh;
}

.order .button {
  min-width: 30vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  color: white;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  -webkit-transition: 200ms;
  transition: 200ms;
  -webkit-box-shadow: 2px 1px 8px -2px grey;
          box-shadow: 2px 1px 8px -2px grey;
  text-align: center;
}

.order .button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  opacity: 0.9;
  cursor: pointer;
}

@media (min-width: 1600px) {
  main,
  .tittle,
  .order {
    margin-right: 10rem;
    margin-left: 10rem;
  }
}
