footer {
	background-color: $darkgrey;

	padding: 2rem;
	color: white;
	h2 {
		font-family: "Shrikhand";
		font-weight: 500;
		padding: 2rem 0;
	}
	p {
		padding: 0.5rem;

		@media (min-width: 1600px) {
			display: inline;
			padding-right: 6rem;
			text-align: center;
		}
		i {
			margin-right: 10px;
		}
	}
}
