footer {
	background-color: $darkgrey;
	// position: absolute;
	padding: 2rem;
	color: white;

	// bottom: ;
	// left: 0px;
	// right: 0px;
	// margin-bottom: 0px;

	h2 {
		font-family: "Shrikhand";
		font-weight: 500;
		padding: 2rem 0;
	}
	p {
		padding: 0.5rem;

		@media (min-width: 1600px) {
			display: inline;
			padding-right: 6rem;
			text-align: center;
		}
		i {
			margin-right: 10px;
		}
	}
}
