.tuto {
	counter-reset: count;
	padding: 2rem;

	// I used css counters to generate numbers automatically before the tutorials
	ol {
		padding-top: 2rem;
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		@media (max-width: 930px) {
			flex-direction: column;
		}
	}
	li {
		background-color: $lightgrey;
		padding: 1.5rem 2rem;
		flex-grow: 1;
		border-radius: 1rem;
		@include box-shadow;
		position: relative;
		&:hover {
			background-color: lighten($purple, 35%);
			@include zoom;
			i {
				color: $purple;
			}
		}
		&::before {
			content: counter(count);
			counter-increment: count;
			color: white;
			background-color: $purple;
			width: 2rem;
			height: 2rem;
			display: grid;
			place-items: center;
			border-radius: 50%;
			position: absolute;
			left: -1rem;
			bottom: 50%;
			transform: translateY(50%);
		}
		list-style-type: none;
		& i {
			margin-right: 1rem;
			font-size: 1.3rem;
			color: grey;
		}
	}
}
