nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	.arrow {
		position: absolute;
		left: 3%;
		transition: 300ms;
		&:hover {
			transform: scale(1.25);
		}
	}
}

.banner img {
	display: block;
	width: 100%;
	height: 40vh;
	object-fit: cover;
	object-position: center;

	@media (min-width: $breakpoint) {
		height: 50vh;
	}
}

.tittle {
	background-color: $lightgrey;
	margin-top: -2rem;
	@include heart;
	border-radius: 2rem 2rem 0 0;

	h2 {
		padding: 1.5rem 1rem;
		font-family: "Shrikhand";
	}
}
.main-page {
	background-color: $lightgrey;
}

.menu-page {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	@media (max-width: $breakpoint) {
		grid-template-columns: 1fr;
	}
	&__selection {
		padding: 1rem;
		overflow: hidden;

		h3 {
			padding: 1rem 0rem;
			text-transform: uppercase;
			font-weight: 300;
			&::after {
				content: "";
				display: block;
				border-bottom: 3px solid $green;
				width: 2.9rem;
			}
			@media (min-width: $breakpoint) {
				font-weight: 400;
			}
		}
	}
}

.menu-item {
	display: flex;
	background-color: white;
	border-radius: 1rem;
	overflow: hidden;
	margin-bottom: 1rem;
	@include box-shadow;
	transition: 0.5s;
	animation: apear 1.5s;
	@keyframes apear {
		from {
			transform: scale(0.9);
			opacity: 0;
		}
		to {
			transform: scale(1);
			opacity: 1;
		}
	}
	&__description {
		padding: 1rem;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		h4,
		p {
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	&__price {
		padding: 1rem;
		font-weight: 900;
		display: flex;
		align-items: flex-end;
		margin-left: auto;
	}
	&__check {
		color: $green;
		@include grid-center;
		background-color: $green;
		margin-right: -4rem;
		width: 4rem;
		border-radius: 0 1rem 1rem 0;
		transition: margin-right 0.5s;
		flex-shrink: 0;

		i {
			@include grid-center;
			background: white;
			width: 1.5rem;
			height: 1.5rem;
			border-radius: 50%;
		}
	}
	&:hover {
		cursor: pointer;
		.menu-item__check {
			margin-right: 0;
		}
		i {
			@keyframes check-spin {
				from {
					transform: rotate(-270deg);
				}
				to {
					transform: rotate(0);
				}
			}
			animation: check-spin 0.5s ease-in-out;
		}
	}
}

.order {
	padding-bottom: 2rem;
	background-color: $lightgrey;
	@include grid-center;
	height: 15vh;
	button {
		width: 30vh;
		@include button;
	}
}
