@mixin box-shadow {
	box-shadow: 2px 1px 8px -2px grey;
}

@mixin zoom {
	transform: scale(1.02);
}

@mixin grid-center {
	display: grid;
	place-items: center;
}

@mixin button {
	background-image: linear-gradient(to top, $purple, $pink);
	color: white;
	font-size: 1rem;
	padding: 1rem 2rem;
	border: none;
	border-radius: 2rem;
	transition: 200ms;
	@include box-shadow;
	&:hover {
		@include zoom;
		opacity: 0.9;
		cursor: pointer;
	}
}

@mixin animation-loop {
	animation: appear 1s;

	@keyframes appear {
		from {
			transform: translateY(100%);
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@for $i from 1 through 4 {
		&:nth-child(#{$i}) {
			animation-delay: 250ms * $i;
			animation-fill-mode: both;
		}
	}
}

@mixin heart {
	position: relative;
	i {
		font-size: 2rem;
		position: absolute;
		right: 1.4rem;
		top: 50%;
		transform: translateY(-50%);

		cursor: pointer;
	}
	.fas {
		color: transparent;
		background-image: linear-gradient($purple, $pink);
		background-clip: text;
		-webkit-background-clip: text;

		opacity: 0;

		&:hover {
			opacity: 1;
			transform: translateY(-50%) scale(1.1);
			animation: heartgrow 200ms both;

			@keyframes heartgrow {
				from {
					scale: 0;
				}
				to {
					scale: 1.1;
				}
			}
		}
		&:hover .far {
			opacity: 0;
		}
	}
}
@mixin loader {
	animation: loader 0s 2.5s forwards;
	// transform-origin: ;

	@keyframes loader {
		from {
			transform: scale (1);
		}
		to {
			transform: scale(0);
		}
	}
}

@mixin beating-heart {
	background-clip: text;
	background-image: linear-gradient($purple, $pink);
	color: transparent;
	-webkit-background-clip: text;

	position: absolute;

	font-size: 9rem;

	animation: beating-heart 1s infinite both;

	@keyframes beating-heart {
		0% {
			transform: translateY(-70%) scale(0.95);
		}
		5% {
			transform: translateY(-70%) scale(1.1);
		}
		39% {
			transform: translateY(-70%) scale(0.85);
		}
		45% {
			transform: translateY(-70%) scale(1);
		}
		60% {
			transform: translateY(-70%) scale(0.95);
		}
		100% {
			transform: translateY(-70%) scale(0.9);
		}
	}
}
