@mixin box-shadow {
	box-shadow: 2px 1px 8px -2px grey;
}
@mixin darkerbox-shadow {
	box-shadow: 4px 3px 17px -4px black;
}

@mixin zoom {
	transform: scale(1.02);
}

@mixin grid-center {
	display: grid;
	place-items: center;
}

@mixin button {
	background-image: linear-gradient(to top, $purple, $pink);
	color: white;
	font-size: 1rem;
	padding: 1rem 2rem;
	border: none;
	border-radius: 2rem;
	transition: 200ms;
	&:hover {
		@include darkerbox-shadow;
		@include zoom;
		opacity: 0.9;
		cursor: pointer;
	}
}

@mixin animation-loop {
	animation: appear 1s;

	@keyframes appear {
		from {
			transform: translateY(100%);
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@for $i from 1 through 5 {
		&:nth-child(#{$i}) {
			animation-delay: 250ms * $i;
			animation-fill-mode: both;
		}
	}
}

@mixin heart {
	position: relative;

	i {
		font-size: 2rem;
		position: absolute;
		right: 1.4rem;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		cursor: pointer;
	}

	.fas {
		-webkit-user-select: none;
		user-select: none;
		background-image: linear-gradient($purple, $pink);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		opacity: 0;
		transition: 200ms ease-in-out;
		&:hover {
			opacity: 1;
			transform: translateY(-50%) scale(1.1);

			animation: heartgrow 200ms forwards;

			@keyframes heartgrow {
				0% {
					transform: translateY(-45%) scale(0);
				}
				to {
					transform: translateY(-50%) scale(1.05);
				}
			}
		}
	}
}

@mixin loader {
	width: 100%;
	animation: loader forwards;
	animation-duration: 0.5s;
	animation-delay: 2s;

	@keyframes loader {
		from {
			transform: scale(1);
			opacity: 0.8;
		}

		to {
			opacity: 0;
			transform: scale(0);
		}
	}
}

// iteration count pour eviter d'utiliser "infinite" et optimiser la homepage.
@mixin beating-heart {
	background-clip: text;
	background-image: linear-gradient($purple, $pink);
	color: transparent;
	-webkit-background-clip: text;
	position: absolute;
	font-size: 9rem;
	animation: beating-heart 1s both;
	animation-iteration-count: 4;

	@media (max-width: 435px) {
		font-size: 7rem;
	}

	@keyframes beating-heart {
		0% {
			transform: translateY(-70%) scale(0.95);
		}
		5% {
			transform: translateY(-70%) scale(1.1);
		}
		39% {
			transform: translateY(-70%) scale(0.85);
		}
		45% {
			transform: translateY(-70%) scale(1);
		}
		60% {
			transform: translateY(-70%) scale(0.95);
		}
		100% {
			transform: translateY(-70%) scale(0.9);
		}
	}
}
