@mixin box-shadow {
	box-shadow: 2px 1px 8px -2px grey;
}

@mixin zoom {
	transform: scale(1.02);
}

@mixin heart {
	position: relative;
	i {
		font-size: 2rem;
		position: absolute;
		right: 1.4rem;
		top: 50%;
		transform: translateY(-50%);
	}
	.fas {
		color: transparent;
		background-image: linear-gradient($purple, $pink);
		background-clip: text;
		-webkit-background-clip: text;
		opacity: 0;
		transition: 400ms;
	}
	&:hover .fas {
		opacity: 1;
		transform: translateY(-50%) scale(1.1);
	}
	&:hover .far {
		opacity: 0;
	}
}

@mixin grid-center {
	display: grid;
	place-items: center;
}

// ANIMATIONS
